<div class="row" >

</div>
 
  <div class="container text-center" >
    <!-- Example row of columns -->
    <div class="row" id="row-1">
      <div class="col-md-4  text-center">
     
        <img src="../../../assets/images/manu.jpeg" class="rounded-circle" alt="Random Name" width="255" height="255">
     
      </div>


      <div class="col-md-6  text-center">
       <div class="container text-center">
        <ul class="no-bullets">
            <li>  
           <i class="fa fa-envelope-o fa-3x" aria-hidden="true" > manuela.freirinha@gmail.com</i>    
            </li>
            <li>
                <a  id="link1" target="_blank" href="https://www.instagram.com/manuelafreirinha/" >
                <i class="fa fa-instagram fa-3x"  aria-hidden="true"> manuelafreirinha</i>
                </a>  
            </li>
            <li>
                <a  id="link2" target="_blank" href="https://www.facebook.com/manuela.freirinha.5" >
                <i class="fa fa-facebook-official fa-3x" aria-hidden="true"> Manuela Freirinha</i>
               </a>  
            </li>
          </ul>
        </div>
       
      </div>

    </div>

  

  </div> <!-- /container -->
  <div id="contactos" class="container">
    <h3 id="texto-contato">Entre em contacto</h3>
 
    <div class="row">
 
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Nome" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="E-mail" type="email" required>
          </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <input class="form-control" id="assunto" name="assunto" placeholder="Assunto" type="text" required>
             </div>
        </div>  
    
        <textarea class="form-control" id="comments" name="comments" placeholder="Comentários" rows="5"></textarea>
        <br>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn pull-right" type="submit">Enviar</button>
          </div>
        </div>
      </div>
    </div>  
  </div>
  