#row-1{
    min-height: 400px; 
    //max-width: 650px; 
    //padding-top: 200px;
    //padding-bottom: 90px;
      margin-left: 180px;
      margin-top: 200px;
    border-radius: 50px;
    //background: rgba(17, 17, 17, 0.753);   
}
ul.no-bullets {
    font-size: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    color: #000000;
    font-family: Helvetica;
  }
#link1 {
    margin-right: 160px;
    color: #000000;
    font-family: Helvetica;
  }
#link2 {
    margin-right: 145px;
    color: #000000;
    font-family: Helvetica;
  }

li{
    color: #000000;
    font-family: Helvetica;
    margin: 10px 0;
  }
 .container{
    max-height: 300px; 
 }
 #contactos{
    margin-right: 180px;
 }
 #texto-contato{
    margin-left: 250px;
    font-family: Helvetica;
 }