.content{
  //background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/images/img1.jpg");
  min-height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
} 
#container1 {
      min-height: 400px; 
     //max-width: 650px; 
     //padding-top: 200px;
     //padding-bottom: 90px;
    //  margin-left: 180px;
       margin-top: 100px;
     border-radius: 50px;
     background: rgba(17, 17, 17, 0.753);
 
}

#manu { 
    display: block;
    font-size: 80px;
    padding-top: 150px;
    color: rgba(40, 109, 63, 0.753);
   // margin-top: 0.67em;
    //margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
  }
  #expandir{
    color: rgba(175, 21, 189, 0.753);
    font-weight: bold;
  }
  #astros { 
    color: rgba(40, 109, 63, 0.753);
    display: block;
    font-size: 80px;
    padding-top: 10px;
   // margin-top: 0.67em;
    //margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
  }
h2 { 
  color: rgba(13, 171, 182, 0.753);
    display: block;
    font-size: 30px;
    padding-top: 10px;
   // margin-top: 0.67em;
    //margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
 
    font-family: "Source Sans Pro", sans-serif;
  }